@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slide>div {
    margin: 0 10px
}

.rotate {
    animation: rotate 1s forwards;
}

@keyframes rotate {
    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

.rev-rotate {
    animation: revRotate 0.5s reverse;
}

@keyframes revRotate {
    100% {
        transform: rotate(90deg);
    }
}