@tailwind base;
@tailwind components;
@tailwind utilities;

.body,
html {
    min-height: 100%
}

body {
    height: 100vh;
}

#root{
    height: 100vh;
}

.slick-slide > div {
    margin: 0 10px
}


/* @media only screen and (min-width: 1200px){
    #login, #signup {
        background-image: url('./images/background.jpeg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

} */

.rotate {
    animation: rotate 1s forwards; 
}

@keyframes rotate {
    50% { transform: rotate(90deg); }
   
    100% { transform: rotate(90deg); }
}

.rev-rotate {
    animation: revRotate 0.5s reverse; 
}

@keyframes revRotate {
    100% { transform: rotate(90deg); }
}